In [62]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import seaborn as sns
import matplotlib.pyplot as plt

In [63]:
df = pd.read_csv("/Users/krishnasoni/Downloads/cc.csv")
df.head()

,Age,Gender,Income,Education,Marital Status,Number of Children,Home Ownership,Credit Score
0,25,Female,50000,Bachelor's Degree,Single,0,Rented,High
1,30,Male,100000,Master's Degree,Married,2,Owned,High
2,35,Female,75000,Doctorate,Married,1,Owned,High
3,40,Male,125000,High School Diploma,Single,0,Owned,High
4,45,Female,100000,Bachelor's Degree,Married,3,Owned,High

In [64]:
df["Credit Score"] = df["Credit Score"].str.strip().str.lower()

In [65]:
df["Credit Score"] = df["Credit Score"].map({
    "high": 2,
    "low": 0,
    "average": 1
})

In [66]:
df.head()

,Age,Gender,Income,Education,Marital Status,Number of Children,Home Ownership,Credit Score
0,25,Female,50000,Bachelor's Degree,Single,0,Rented,2
1,30,Male,100000,Master's Degree,Married,2,Owned,2
2,35,Female,75000,Doctorate,Married,1,Owned,2
3,40,Male,125000,High School Diploma,Single,0,Owned,2
4,45,Female,100000,Bachelor's Degree,Married,3,Owned,2

In [68]:
X = df.drop("Credit Score", axis=1)
y = df["Credit Score"]

In [69]:
X = pd.get_dummies(X, drop_first=True)

In [71]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [81]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)

print("Logistic Regression")
print(classification_report(y_test, y_pred_lr))

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [78]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

print("Random Forest")
print(classification_report(y_test, y_pred_rf))

0.9942546583850932

In [80]:
results = pd.DataFrame({
    "Model": ["Logistic Regression", "Random Forest"],
    "ROC_AUC": [
        roc_auc_score(
    y_test,
    lr.predict_proba(X_test),
    multi_class="ovr"
        ),
        roc_auc_score(
    y_test,
    rf.predict_proba(X_test),
    multi_class="ovr"
)

    ]
})

results

                 Model   ROC_AUC
0  Logistic Regression  0.993789
1        Random Forest  0.994255